/**
 * Updating this file with Bootstrap changes:
 *
 * 1. Go to http://twitter.github.com/bootstrap/customize.html
 * 2. Un-toggle everything
 * 3. Check: 'Body type and links', 'Headings, body, etc', 'Code and pre'
 * 4. Download
 * 5. Remove margin property on body tag
 */

.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: #ffffff;
}
a {
  color: #0088cc;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #005580;
  text-decoration: underline;
}
.img-rounded {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.img-circle {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}
p {
  margin: 0 0 10px;
}
.lead {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 200;
  line-height: 30px;
}
small {
  font-size: 85%;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
cite {
  font-style: normal;
}
.muted {
  color: #999999;
}
a.muted:hover,
a.muted:focus {
  color: #808080;
}
.text-warning {
  color: #c09853;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #a47e3c;
}
.text-error {
  color: #b94a48;
}
a.text-error:hover,
a.text-error:focus {
  color: #953b39;
}
.text-info {
  color: #3a87ad;
}
a.text-info:hover,
a.text-info:focus {
  color: #2d6987;
}
.text-success {
  color: #468847;
}
a.text-success:hover,
a.text-success:focus {
  color: #356635;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}
h1,
h2,
h3 {
  line-height: 40px;
}
h1 {
  font-size: 38.5px;
}
h2 {
  font-size: 31.5px;
}
h3 {
  font-size: 24.5px;
}
h4 {
  font-size: 17.5px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 11.9px;
}
h1 small {
  font-size: 24.5px;
}
h2 small {
  font-size: 17.5px;
}
h3 small {
  font-size: 14px;
}
h4 small {
  font-size: 14px;
}
.page-header {
  padding-bottom: 9px;
  margin: 20px 0 30px;
  border-bottom: 1px solid #eeeeee;
}
ul,
ol {
  padding: 0;
  margin: 0 0 10px 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
li {
  line-height: 20px;
}
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}
ul.inline,
ol.inline {
  margin-left: 0;
  list-style: none;
}
ul.inline > li,
ol.inline > li {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding-left: 5px;
  padding-right: 5px;
}
dl {
  margin-bottom: 20px;
}
dt,
dd {
  line-height: 20px;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 10px;
}
.dl-horizontal {
  *zoom: 1;
}
.dl-horizontal:before,
.dl-horizontal:after {
  display: table;
  content: "";
  line-height: 0;
}
.dl-horizontal:after {
  clear: both;
}
.dl-horizontal dt {
  float: left;
  width: 160px;
  clear: left;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dl-horizontal dd {
  margin-left: 180px;
}
hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #999999;
}
abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #eeeeee;
}
blockquote p {
  margin-bottom: 0;
  font-size: 17.5px;
  font-weight: 300;
  line-height: 1.25;
}
blockquote small {
  display: block;
  line-height: 20px;
  color: #999999;
}
blockquote small:before {
  content: '\2014 \00A0';
}
blockquote.pull-right {
  float: right;
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
}
blockquote.pull-right p,
blockquote.pull-right small {
  text-align: right;
}
blockquote.pull-right small:before {
  content: '';
}
blockquote.pull-right small:after {
  content: '\00A0 \2014';
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
address {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  line-height: 20px;
}
code,
pre {
  padding: 0 3px 2px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 12px;
  color: #333333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
code {
  padding: 2px 4px;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  white-space: nowrap;
}
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
pre.prettyprint {
  margin-bottom: 20px;
}
pre code {
  padding: 0;
  color: inherit;
  white-space: pre;
  white-space: pre-wrap;
  background-color: transparent;
  border: 0;
}
.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}



/* New Styles */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Gudea', Arial, sans-serif;
  font-weight:400;
}

h1 {
  font-size: 44px;
  line-height: 48px;
}
h2 {
  font-size: 36px;
  line-height: 40px;
}
h3 {
  font-size: 30px;
  line-height: 34px;
}
h4 {
  font-size: 26px;
  line-height: 30px;
}
h5 {
  font-size: 20px;
  line-height: 24px;
}
h6 {
  font-size: 14px;
  line-height: 18px;
}
.navbar-static-top {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:68px;
  z-index:99999;
}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
  -webkit-box-shadow:0 0 0;
  -moz-box-shadow:0 0 0;
  box-shadow:0 0 0;
}
.navbar-inner {
  min-height:68px;
  background-color:#454a51;
  background-image:-moz-linear-gradient(top,#454a51,#454a51);
  background-image:-webkit-gradient(linear,0 0,0 100%,from(#454a51),to(#454a51));
  background-image:-webkit-linear-gradient(top,#454a51,#454a51);
  background-image:-o-linear-gradient(top,#454a51,#454a51);
  background-image:linear-gradient(to bottom,#454a51,#454a51);
  border:0;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  box-shadow:0 0 0;
  -moz-box-shadow:0 0 0;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#454a51',endColorstr='#454a51',GradientType=0);
}
.navbar .nav>li>a {
  font-family: 'Gudea', Arial, sans-serif;
  text-transform:uppercase;
  font-weight:400;
  padding:23px 20px 5px;
  text-shadow:0 0 0;
  color:#fff;
  -webkit-box-shadow:0 0 0;
  -moz-box-shadow:0 0 0;
  box-shadow:0 0 0;
}
.navbar .nav>li>a:hover {
  color:#00a6e7;
}
.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus {
  text-shadow:0 0 0;
  color:#00a6e7;
  -webkit-box-shadow:0 0 0;
  -moz-box-shadow:0 0 0;
  box-shadow:0 0 0;
  background-color:#454a51;
}
.navbar .nav li.dropdown.open>.dropdown-toggle, .navbar .nav li.dropdown.active>.dropdown-toggle, .navbar .nav li.dropdown.open.active>.dropdown-toggle {
  background-color:#454a51;
  color:#00a6e7;
}
.navbar .nav li.dropdown>.dropdown-toggle .caret {
  border-top-color:#fff;
  border-top-color:#fff;
}
.navbar .nav li.dropdown:hover>.dropdown-toggle .caret {
  border-top-color:#00a6e7;
  border-top-color:#00a6e7;
}
.navbar .nav li.dropdown.open>.dropdown-toggle .caret, .navbar .nav li.dropdown.active>.dropdown-toggle .caret, .navbar .nav li.dropdown.open.active>.dropdown-toggle .caret {
  border-top-color:#00a6e7;
  border-top-color:#00a6e7;
}
.main-content {
  padding-top:68px;
  width:75%;
  float:left;
}
.main-content .container {
  width:100%;
}
.main-content .container .row {
  margin-left:0;
}
.main-content .container .row .span12 {
  width:100%;
  margin-left:0;
}
.side-panel {
  width:25%;
  position:fixed;
  right:0;
  background-color:#ededed;
  height:100%;
  overflow:scroll; 
  top:68px;
  display:block;
}
.side-panel-inner {
  padding:35px;
  float:left;
}
.central {
  text-align:center;
}
footer {
  background-color:#08233e;
  color:#fff;
  text-align:center;
  padding:20px 0;
}
.navbar-inner {
  padding-right:0;
}
.navbar-inner .container {
  margin:0;
  width:100%;
}
.form-search {
  float:right;
  margin: 0;
}
.form-search input {
  background-color:#454a51;
  border:0;
  border-left:1px solid #999;
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  height:68px;
  color:#fff;
  width:172px;
  padding:0 14px;
}
.searchbtn {
  height:68px !important;
  width:68px !important;
  border:0;
  border-left:1px solid #999;
  background:url(../img/search.png) no-repeat scroll 50% 50% transparent;
}
.join-button {
  background-color: #00a6e7;
  width: 115px;
  padding:25px 15px 5px;
  color: #fff;
  text-align: center;
  font-family: 'brandonregular', Helvetica, Arial, sans-serif;
  font-size: 16px;
  height:38px;
  float:right;
}
.section-twitter {
  text-align: center;
  margin:0 0 28px 0;
  float:left;
}
.section-news {
  margin-bottom:30px;
  float:left;
}
.section-news-title {
  border-top:2px solid #00a6e7;
  border-bottom:2px solid #00a6e7;
  padding:25px 0;
  width:100%;
  text-align:center;
  font-weight:700;
  margin-bottom:40px;
}
.news-item {
  width:100%;
  margin-bottom:25px;
  float:left;
}
.date-box {
  width:20%;
  float:left;
  height:70px;
  background-color:#fff;
  color:#555;
  text-align:center;
  padding-top:10px;
}
.date-box h2 {
  margin:0;
}
.news-heading {
  color:#454a51;
}
.news-item-text {
  width:75%;
  float:right;
  font-size:12px;
  line-height:15px;
}
.news-item-text h6 {
  font-weight:700;
  margin-top:0;
}
.really_simple_twitter_widget {
  list-style:none;
  margin:0;
}
.rstw_comma {
  display:none;
}
.twitter-timestamp {
  width:100%;
  float:left;
  margin-top:10px;
}
.internal-page {
  padding: 40px;
}
.top-section {
  border-bottom: 2px solid #00a6e7;
  padding: 0 0 20px 0;
  min-height: 30px;
  margin-bottom:30px;
}
.top-section .span10 {
  margin:0 0 0 0;
}
.top-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.top-section ul li {
  margin: 0 5px 7px 0;
  padding: 3px 12px;
  background: none #00a6e7;
  font-size: 12px;
  display:inline-block;
}
.top-section ul li a {
  color: #fff;
}
.meeting-section {
  list-style:none;
  margin:0 0 50px 0;
  padding:0;
}
.meeting-entry {
  width:23%;
  display:inline-block;
  padding:0 10px 0 0;
  vertical-align:top;
}
.meeting-item-thumb-holding, .meeting-item-thumb {
  width:100%;
  height:118px;
  overflow:hidden;
  text-align:center;
  background-color:#454a51;
}
#podcasts table {
  margin: 0 auto;
  border: 0;
  font-size: 12px;
  width: 100%;
}
#podcasts table a {
  color: #00a6e7;
  text-decoration: none;
}
#podcasts td, th {
  background: #eee;
  padding: 10px;
  vertical-align: top;
}
#podcasts th {
  color: #fff;
}
#podcasts tr {
  border-top: 1px solid #fff;
}
#podcasts th.dayHeading {
  background: #00a6e7;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
}
#podcasts th.light {
  background: #333;
  font-weight: bold;
}
#dldocs {
  background-color:#454a51;
  padding:20px;
}
#dldocs h2 {
  font-size:22px;
  color:#fff;
  margin:0 0 15px 0;
}
#dldocs ul {
  list-style:none;
  margin:0;
}
#dldocs ul li {
  display:inline-block;
  line-height:40px;
  margin:0 4px 0 0;
}
#dldocs ul li a {
  color:#454a51;
  padding:10px 20px;
  background-color:#fff;
  text-decoration:none;
}
#dldocs ul li a:hover {
  color:#454a51;
  padding:10px 20px;
  background-color:#00a6e7;
  text-decoration:none;
}
.menu-latest-news {
  display:none;
}

@media (max-width: 1360px){
  .form-search input {width:114px;}
}

@media (max-width: 1285px){
  .join-button {width:105px;font-size:12px;padding:25px 0 5px;}
}

@media (max-width: 1245px){
  .form-search input {width:70px;}
}

@media (max-width: 1200px){
  .form-search input {width:30px;}
}

@media (max-width: 1160px){
  .form-search {display:none;}
}

@media (max-width: 1024px){
  .side-panel {display:none;}
  .main-content {width:100%;}
  .join-button {display:none;}
  .form-search {display:none;}
}

@media (max-width: 980px){
  .menu-latest-news {display:block;}
}

@media (max-width: 767px){

}
@media (max-width: 720px){

}

@media (max-width: 600px){

}

@media (max-width: 480px){

}

@media (max-width: 320px){

}







