/**
 * Updating this file with Bootstrap changes:
 *
 * 1. Go to http://twitter.github.com/bootstrap/customize.html
 * 2. Un-toggle everything
 * 3. Check: 'Body type and links', 'Headings, body, etc', 'Code and pre'
 * 4. Download
 * 5. Remove margin property on body tag
 */

@font-face {
    font-family: 'brandonblack';
    src: url('fonts/brandontext-black-webfont.eot');
    src: url('fonts/brandontext-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brandontext-black-webfont.woff') format('woff'),
         url('fonts/brandontext-black-webfont.ttf') format('truetype'),
         url('fonts/brandontext-black-webfont.svg#brandon_textblack') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'brandonbold';
    src: url('fonts/brandontext-bold-webfont.eot');
    src: url('fonts/brandontext-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brandontext-bold-webfont.woff') format('woff'),
         url('fonts/brandontext-bold-webfont.ttf') format('truetype'),
         url('fonts/brandontext-bold-webfont.svg#brandon_textbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'brandonlight';
    src: url('fonts/brandontext-light-webfont.eot');
    src: url('fonts/brandontext-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brandontext-light-webfont.woff') format('woff'),
         url('fonts/brandontext-light-webfont.ttf') format('truetype'),
         url('fonts/brandontext-light-webfont.svg#brandon_textlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'brandonmedium';
    src: url('fonts/brandontext-medium-webfont.eot');
    src: url('fonts/brandontext-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brandontext-medium-webfont.woff') format('woff'),
         url('fonts/brandontext-medium-webfont.ttf') format('truetype'),
         url('fonts/brandontext-medium-webfont.svg#brandon_textmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'brandonthin';
    src: url('fonts/brandontext-thin-webfont.eot');
    src: url('fonts/brandontext-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brandontext-thin-webfont.woff') format('woff'),
         url('fonts/brandontext-thin-webfont.ttf') format('truetype'),
         url('fonts/brandontext-thin-webfont.svg#brandon_textthin') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'brandonregular';
    src: url('fonts/brandontext-regular-webfont.eot');
    src: url('fonts/brandontext-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/brandontext-regular-webfont.woff') format('woff'),
         url('fonts/brandontext-regular-webfont.ttf') format('truetype'),
         url('fonts/brandontext-regular-webfont.svg#brandon_text_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: #ffffff;
}
a {
  color: #00a6e7;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #005580;
  text-decoration: underline;
}
.img-rounded {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.img-circle {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}
p {
  margin: 0 0 10px;
}
.lead {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 200;
  line-height: 30px;
}
small {
  font-size: 85%;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
cite {
  font-style: normal;
}
.muted {
  color: #999999;
}
a.muted:hover,
a.muted:focus {
  color: #808080;
}
.text-warning {
  color: #c09853;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #a47e3c;
}
.text-error {
  color: #b94a48;
}
a.text-error:hover,
a.text-error:focus {
  color: #953b39;
}
.text-info {
  color: #3a87ad;
}
a.text-info:hover,
a.text-info:focus {
  color: #2d6987;
}
.text-success {
  color: #468847;
}
a.text-success:hover,
a.text-success:focus {
  color: #356635;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-family: 'brandonregular', Helvetica, Arial, sans-serif;
  font-weight: normal !important;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}

h1 {
  font-size: 40px;
  line-height: 44px;
}
h2 {
  font-size: 30px;
  line-height: 34px;
}
h3 {
  font-size: 26px;
  line-height: 30px;
}
h4 {
  font-size: 20px;
  line-height: 24px;
}
h5 {
  font-size: 18px;
  line-height: 22px;
}
h6 {
  font-size: 16px;
  line-height: 20px;
}
h1 small {
  font-size: 24.5px;
}
h2 small {
  font-size: 17.5px;
}
h3 small {
  font-size: 14px;
}
h4 small {
  font-size: 14px;
}
.page-header {
  padding-bottom: 9px;
  margin: 20px 0 30px;
  border-bottom: 1px solid #eeeeee;
}
.page-header-inner {
  padding: 100px 9px;
  background: url(../img/alt-bkgnd.jpg) no-repeat scroll 50% 50% transparent;
  color: #fff;
  background-size: 100%;
}
ul,
ol {
  padding: 0;
  margin: 0 0 10px 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
li {
  line-height: 20px;
}
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}
ul.inline,
ol.inline {
  margin-left: 0;
  list-style: none;
}
ul.inline > li,
ol.inline > li {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding-left: 5px;
  padding-right: 5px;
}
dl {
  margin-bottom: 20px;
}
dt,
dd {
  line-height: 20px;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 10px;
}
.dl-horizontal {
  *zoom: 1;
}
.dl-horizontal:before,
.dl-horizontal:after {
  display: table;
  content: "";
  line-height: 0;
}
.dl-horizontal:after {
  clear: both;
}
.dl-horizontal dt {
  float: left;
  width: 160px;
  clear: left;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dl-horizontal dd {
  margin-left: 180px;
}
hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #999999;
}
abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #eeeeee;
}
blockquote p {
  margin-bottom: 0;
  font-size: 17.5px;
  font-weight: 300;
  line-height: 1.25;
}
blockquote small {
  display: block;
  line-height: 20px;
  color: #999999;
}
blockquote small:before {
  content: '\2014 \00A0';
}
blockquote.pull-right {
  float: right;
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
}
blockquote.pull-right p,
blockquote.pull-right small {
  text-align: right;
}
blockquote.pull-right small:before {
  content: '';
}
blockquote.pull-right small:after {
  content: '\00A0 \2014';
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}
address {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  line-height: 20px;
}
code,
pre {
  padding: 0 3px 2px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 12px;
  color: #333333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
code {
  padding: 2px 4px;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  white-space: nowrap;
}
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
pre.prettyprint {
  margin-bottom: 20px;
}
pre code {
  padding: 0;
  color: inherit;
  white-space: pre;
  white-space: pre-wrap;
  background-color: transparent;
  border: 0;
}
.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}


/*    New Styles    */

.forcefullwidth_wrapper_tp_banner {
  min-height: 850px !important;
}


.main {
  padding: 50px 0 60px 0;
}
.navbar-inner {
  background-color: #08233e;
  background-image:none;
  border-width: 0 !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  border: 0;
  margin: 0 auto;
  padding-right: 0;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#08233e',endColorstr='#08233e',GradientType=0);
}
.navbar .brand {
  padding: 5px 20px;
}
.navbar .nav {
  margin: 16px 0 0 0;
}
.navbar .nav>li {
  border-right: 1px solid #fff;
}
.navbar .nav>li:last-child {
  border-right: 0;
}
.navbar .nav>li>a {
  text-shadow:none;
  color: #fff;
  font-family: 'brandonregular', Helvetica, Arial, sans-serif;
  font-size: 16px;
  padding: 0 15px;
}
.navbar .nav>li>a:hover {
  color: #fff;
}
.navbar-inner .container {
  width: 100%;
}
.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus {
  background-color: transparent;
  color: #00a6e7;
  box-shadow: none;
  text-shadow:none;
}
.navbar .nav li.dropdown>.dropdown-toggle .caret {
  border-top:4px solid #fff;
}
.navbar .nav li.dropdown.open>.dropdown-toggle, .navbar .nav li.dropdown.active>.dropdown-toggle, .navbar .nav li.dropdown.open.active>.dropdown-toggle {
  background-color: transparent;
  color: #00a6e7;
}
.navbar .nav li.dropdown.open>.dropdown-toggle .caret, .navbar .nav li.dropdown.active>.dropdown-toggle .caret, .navbar .nav li.dropdown.open.active>.dropdown-toggle .caret {
  border-top:4px solid #00a6e7;
}
.navbar .nav li.dropdown>a:hover .caret, .navbar .nav li.dropdown>a:focus .caret {
  border-top:4px solid #fff;
}

.nav-collapse .nav>li>a:hover,.nav-collapse .nav>li>a:focus,.nav-collapse .dropdown-menu a:hover,.nav-collapse .dropdown-menu a:focus{
  background-color: transparent;
}

.dropdown-menu {
  border: 0 !important;
  border-radius: 0 !important;
  background-color: #08233e;
  margin-top: 10px;
}
.dropdown-menu>li {
  padding: 5px;
}
.dropdown-menu>li:hover {
  background-color: #00a6e7;
}
.dropdown-menu>li>a {
  color: #fff;
  padding: 3px 30px 3px 10px;
}
.dropdown-submenu>a:after {
  margin-right:-20px;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-submenu:hover>a, .dropdown-submenu:focus>a {
  color: #fff;
  background: none no-repeat scroll 0 0 transparent;
}
.dropdown-menu .menu-guidelines-development, .dropdown-menu .menu-antibiotic-action, .dropdown-menu .menu-virtual-science-show, .dropdown-menu .menu-guidelines, .dropdown-menu .menu-info-for-public, .dropdown-menu .menu-resistance-surveillance, .dropdown-menu .menu-susceptibility, .menu-bsac-international, .dropdown-menu .menu-healthcare-research-community, .dropdown-menu .menu-industry, .dropdown-menu .menu-government, .dropdown-menu .menu-public {
  background: none no-repeat scroll 0 0 transparent !important;
}
.menu-bsac-international {
  padding: 5px;
}
.dropdown-submenu .dropdown-menu {
  background-color: #00a6e7;
  margin-top: 0px;
  padding: 5px 0;
}
.dropdown-submenu .dropdown-menu>li {
  border-bottom: 1px solid #08233e;
}
.dropdown-submenu .dropdown-menu>li:last-child {
  border-bottom: 0;
}
.dropdown-submenu .dropdown-menu>li>a {
  color: #fff;
  padding: 10px 15px;
}
.dropdown-submenu .dropdown-menu>li>a:hover {
  color: #08233e;
  padding: 10px 15px;
}

.general-page {
  margin: 100px 0 40px 0;
  background-color: rgba(255,255,255,0.8);
  min-height: 690px;
}


.home-middle-section {
  position: relative;
  padding: 20px 0 65px;
}
.latest-news ul {
  list-style: none;
  padding: 0;
  margin: 0 0 0 2px;
}
.twitter-name {
  font-family: 'brandonregular', Helvetica, Arial, sans-serif;
  font-size: 26px;
  margin: 0 0 0 20px;
}
.bsacbutton {
  background-color: #00a6e7;
  padding: 10px 15px;
  color: #fff !important;
  text-decoration: none;
  margin: 8px 0 0 0;
}
.bsacbutton:hover {
  text-decoration: underline;
  color: #fff;
}
.news-items-holder {
  width: 85%;
  margin: 0 auto !important;
}
.latest-news-title {
  margin: 20px 0 12px 0;
  font-family: 'brandonmedium', Helvetica, Arial, sans-serif;
  font-size:18px;
  white-space:normal;
}
.latest-news-text {
  margin: 0 0 12px 0;
  font-size: 12px;
  white-space:normal;
}
.home-arc-section {
  position: relative;
  background: url(../img/arc-bkgnd.jpg) no-repeat scroll 50% 50% transparent;
  height: 195px;
  padding: 42px 0;
}

.left-boxes {
  width: 290px;
  margin: 0 20px 0 10px;
  position: absolute;
  left: 20px;
  top: 40px;
  z-index: 999;
}
.right-boxes {
  width: 290px;
  margin: 0 10px 0 20px;
  position: absolute;
  right: 20px;
  top: 40px;
  z-index: 999;
}
.home-circle {
  background: url(../img/home-circle-white-v3.png) no-repeat scroll 0 0 transparent;
  background-position:50% 0px;
  background-size:650px;
  width: 500px;
  height: 680px;
  text-align: center;
  padding:32px 110px 35px;
  position: absolute;
  left: 50%;
  top: 30px;
  margin-left: -358px;
}
.home-circle-logo {
  margin: 0 0 20px 0;
}
.home-circle-text {
  margin: 0 0 30px 0;
  white-space: normal;
}
.home-circle-text h1 {
  margin-bottom: 20px;
  white-space: normal;
  font-size:32px;
  line-height:36px;
}
.home-circle-text h3 {
  font-size:22px;
  line-height:26px;
}
.home-circle-divide {
  width: 200px;
  border-bottom: 1px solid #08233e;
  margin: 0 auto 15px;
}
.home-circle-movie {
  margin: 0;
  width: 300px;
  margin: 0 auto;
}
.movie-icon {
  float: left;
  margin: 0 10px 0 0;
}
.movie-icon img {
  zoom:0;
  width: 60px !important;
  height: 60px !important;
}
.movie-text {
  float: left;
  text-align: left;
}
.movie-text h3 {
  margin: 12px 0 0 0;
  line-height: 14px;
  font-family: 'brandonregular', Helvetica, Arial, sans-serif;
}
.movie-text h5 {
  margin: 0;
  line-height: 0px;
  font-family: 'brandonregular', Helvetica, Arial, sans-serif;
}

.more-content-indicator {
  background: url(../img/see-more.png) no-repeat scroll center center transparent;
  width: 50px;
  height: 30px;
  position: absolute;
  left: 50%;
  margin-left: -25px;
  bottom: 50px;
}

.menu-title-holder {
  background: url(../img/menu-darkblue-opacity.png) repeat scroll 0 0 transparent;
  padding: 12px 15px;
  color: #fff;
  text-align: center;
  font-family: 'brandonregular', Helvetica, Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  height: 40px;
  line-height: 40px;
  white-space: normal;
}
.menu-title-holder span {
  line-height: 19px;
  display: inline-block;
  vertical-align: center;
}
.menu-items-holder {
  background: url(../img/menu-blue-opacity.png) repeat scroll 0 0 transparent;
  text-align: center;
  font-family: 'brandonbold', Helvetica, Arial, sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  margin-bottom: 12px;
}
.menu-items-holder ul {
  list-style: none;
  margin: 0;
}
.menu-items-holder ul li {
  padding: 0 15px 0 120px !important;
  border-bottom: 1px solid #08233e;
  height: 70px;
  line-height: 70px !important;
  width: 155px;
  visibility: visible;
  position: relative;
  white-space: normal;
}
.menu-items-holder ul li:last-child {
  border-bottom: 0;
}
.menu-items-holder ul li a {
  vertical-align: middle;
  display: inline-block;
  color: #fff;
  position: relative;
  line-height: 16px !important;
  width: 70px;
}

.menu-arc {
  background: url(../img/menu-arc.png) no-repeat scroll 18% center transparent !important;
}
.menu-opat {
  background: url(../img/menu-opat.png) no-repeat scroll 15% center transparent !important;
}
.menu-guidelines-development {
  background: url(../img/menu-guidelinesdev.png) no-repeat scroll 26% center transparent !important;
}
.menu-antibiotic-action {
  background: url(../img/menu-aa.png) no-repeat scroll 18% center transparent !important;
}
.menu-virtual-science-show {
  background: url(../img/menu-vss.png) no-repeat scroll 16% center transparent !important;
}
.menu-jac {
  background: url(../img/menu-jac.png) no-repeat scroll 21% center transparent !important;
}
.menu-guidelines {
  background: url(../img/menu-guidelines.png) no-repeat scroll 23% center transparent !important;
}
.menu-info-for-public {
  background: url(../img/menu-info-public.png) no-repeat scroll 21% center transparent !important;
}
.menu-nas-pps {
  background: url(../img/menu-naspps.png) no-repeat scroll 13% center transparent !important;
}
.menu-nas-pps a {
  width: 85px !important;
}
.menu-resistance-surveillance {
  background: url(../img/menu-ressur.png) no-repeat scroll 23% center transparent !important;
}
.menu-susceptibility {
  background: url(../img/menu-susc.png) no-repeat scroll 21% center transparent !important;
}
.menu-international {
  background: url(../img/menu-international.png) no-repeat scroll 21% center transparent !important;
}
.menu-healthcare-research-community {
  background: url(../img/menu-clinicians.png) no-repeat scroll 21% center transparent !important;
}
.menu-industry {
  background: url(../img/menu-industry.png) no-repeat scroll 21% center transparent !important;
}
.menu-government {
  background: url(../img/menu-gov.png) no-repeat scroll 20% center transparent !important;
}
.menu-public {
  background: url(../img/menu-public.png) no-repeat scroll 21% center transparent !important;
}

/* --- Main menu --- */
.menu-initiatives .menu-arc, .menu-initiatives .menu-opat, .menu-initiatives .menu-guidelines-development, .menu-initiatives .menu-antibiotic-action, .menu-initiatives .menu-virtual-science-show, .menu-initiatives .menu-jac, .menu-initiatives .menu-guidelines, .menu-initiatives .menu-info-for-public, .menu-initiatives .menu-nas-pps, .menu-initiatives .menu-resistance-surveillance, .menu-initiatives .menu-susceptibility, .menu-initiatives .menu-international, .menu-initiatives .menu-healthcare-research-community, .menu-initiatives .menu-industry, .menu-initiatives .menu-government, .menu-initiatives .menu-public {
  background: none no-repeat scroll 0 0 transparent !important;
}
/* --- Main menu ends --- */

.homerighttweetnews {
  width:270px;
  background:url(../img/white-transparent.png) repeat scroll 0 0 transparent;
  white-space:normal;
  margin:0 0 6px 0;
  padding:10px;
}
.homerighttweetnews-link {
  width:218px;
}
.News {
  width:240px;
  padding:8px 15px;
  background:url(../img/news-indicator.png) no-repeat scroll right 50% transparent;
  border:1px dashed #08233e;
}
.Tweets {
  width:238px;
  padding:8px 15px;
  background:url(../img/twitter-indicator.png) no-repeat scroll right 50% transparent;
  border:1px dashed #55acee;
}

.content-info {
  background-color: #08233e;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  padding: 15px 0;
}

.join-button {
  display: inline-block;
  background-color: #00a6e7;
  width: 115px;
  padding: 15px;
  color: #fff;
  text-align: center;
  min-height: 21px;
  font-family: 'brandonregular', Helvetica, Arial, sans-serif;
  font-size: 16px;
  float: right;
}


.top-section {
  border-bottom: 2px solid #08233e;
  padding: 0 0 40px 0;
  height: 100px;
}
.top-section .span10 {
  margin: 15px 0 0 0;
}
.top-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.top-section ul li {
  float: left;
  margin: 0 5px 7px 0;
  padding: 3px 12px;
  background: none #00a6e7;
  font-size: 12px;
}
.top-section ul li a {
  color: #fff;
}


.main-content {
  padding: 40px 0;
}

/*  ECCMID STYLES */

#headergallery-innerpage-eccmid {
  clear:both;
  background: url('images/eccmid-banner.jpg');
  width:990px;
  height:191px;
  margin-bottom:35px;
}
.eccmid-float-right {
  float: right;
}
.eccmid-title {
  float: left;
  margin: 0 0 20px 0;
}

/*  ECCMID STYLES ENDS */

/*  ROUNDTABLE SERIES STYLES  */

.roundtable-post { margin: 0 35px; width: 920px; }

.small-text { font-size:12px; }
.venue-info { font-size:12px; text-transform:uppercase; line-height:18px; }

.roundtable-title { float:left; width:100%; margin:20px 0; }
.roundtable-title-holder { float:left; width:480px; }
.roundtable-title-holder h1 { font-size:40px; color:#0085ca; font-weight:bold; line-height:40px; }
.roundtable-title-holder h2 { font-size:30px; }
.roundtable-img { float:right; width:430px; }

.roundtable-intro-text { width:100%; margin:10px 0 20px 0; float:left; }

.roundtable-one-top { width:92%; background-color:#0085ca; padding:15px; color:#ffffff; min-height:168px; }
.roundtable-one-title { width:92%; font-weight:bold; }
.roundtable-one-bottom { width:92%; background-color:#d7d7d7; margin:0 0 5px 0; padding:15px; }
.roundtable-one-download-agenda { width:92%; padding:15px; }
.roundtable-one-register { width:92%; padding:15px; }
.roundtable-one a { text-decoration:none; }
.roundtable-one a .roundtable-one-bottom:hover { background-color:#0085ca; color:#ffffff; }
.roundtable-one-top h2 { margin:12px 0 5px 0; line-height:27px; font-size: 24px; }

.roundtable-two-top { width:92%; background-color:#0085ca; padding:15px; color:#ffffff; min-height:168px; }
.roundtable-two-title { width:92%; font-weight:bold; }
.roundtable-two-bottom { width:92%; background-color:#d7d7d7; margin:0 0 5px 0; padding:15px; }
.roundtable-two-download-agenda { width:92%; padding:15px; }
.roundtable-two-register { width:92%; padding:15px; }
.roundtable-two a { text-decoration:none; }
.roundtable-two a .roundtable-two-bottom:hover { background-color:#0085ca; color:#ffffff; }
.roundtable-two-top h2 { margin:12px 0 5px 0; line-height:27px; font-size: 24px; }

.roundtable-three-top { width:92%; background-color:#0085ca; padding:15px; color:#ffffff; min-height:168px; }
.roundtable-three-title { width:92%; font-weight:bold; }
.roundtable-three-bottom { width:92%; background-color:#d7d7d7; margin:0 0 5px 0; padding:15px; }
.roundtable-three-download-agenda { width:92%; padding:15px; }
.roundtable-three-register { width:92%; padding:15px; }
.roundtable-three a { text-decoration:none; }
.roundtable-three a .roundtable-three-bottom:hover { background-color:#0085ca; color:#ffffff; }
.roundtable-three-top h2 { margin:12px 0 5px 0; line-height:27px; font-size: 24px; }

.roundtable-lower-logo { width:252px; float:left; margin:15px 0 20px 0; }
.roundtable-lower-logo img { float:right; margin:-9px 0 0 0; }

/*  ROUNDTABLE SERIES STYLES ENDS  */


.blue-box {
  padding: 30px 40px;
  background-color: #08233e;
  color: #fff;
  margin: 50px 0 !important;
}
.meeting-item {
  min-height: 305px;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #08233e;
}
.meeting-item-thumb {
  width: 100%;
  margin-bottom: 20px;
  height: 118px;
  overflow: hidden;
}
.meeting-item-thumb-holding {
  margin-bottom: 20px;
  height: 118px;
  overflow: hidden;
}
.meeting-item-text {
  width: 100%;
  height: 80px;
  overflow: hidden;
  color: #fff;
}
.meeting-item-button {
  color:#fff;
  background:#00a6e7;
  display:block;
  text-align:center;
  text-decoration:none;
  color:#fff;
  padding: 12px 25px;
  font-size: 12px;
  margin: 20px 0 0;
}
.meeting-item-button:hover {
  background:#fc8d00;
  color:#ffffff;
  text-decoration:none;
}

#podcasts table {
  margin: 0 auto;
  border: 0;
  font-size: 12px;
  width: 100%;
}
#podcasts table a {
  color: #00a6e7;
  text-decoration: none;
}
#podcasts td, th {
  background: #eee;
  padding: 10px;
  vertical-align: top;
}
#podcasts th {
  color: #fff;
}
#podcasts tr {
  border-top: 1px solid #fff;
}

#podcasts th.dayHeading {
  background: #00a6e7;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
}

#podcasts th.light {
  background: #333;
  font-weight: bold;
}

.su-highlight {
  display: block !important;
  padding: 20px !important;
  margin-bottom: 20px !important;
}

.top-section .active {
  background-color: #fc8d00;
}


#dldocs ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#dldocs ul li {
  float: left;
  width: 100%;
  margin-bottom: 10px;
}

.su-button-style-flat span:hover {
  background-color: #fc8d00;
  border-top:0 !important;
}
.lightbox-content {
  visibility: hidden;
}

.rev_slider ul li {
  visibility:visible !important;
  position:relative !important;
}
.nav-tabs {
  border:0;
  text-align:center;
  width:290px;
}
.tab-content {
  overflow:inherit;
}
.rev_slider .nav-tabs > li {
  padding:10px 16px !important;
  margin-right:2px !important;
  margin-bottom:6px !important;
}
.rev_slider .nav-tabs > li:last-child {
  margin-right:0;
}
.nav-tabs > li {
  display:inline-block;
  background:#fff;
  opacity:0.85;
}
.nav-tabs > li:hover {
  background:#00a6e7;
  color:#fff;
}
.nav-tabs > li:hover a {
  color:#fff !important;
}
.nav-tabs > li.active {
  background:#00a6e7;
  color:#fff;
}
.nav-tabs>li>a {
  padding:0;
  border:0;
  margin:0;
  border-radius:0;
  -webkit-border-radius:0;
  -moz-border-radius:0;
}
.nav-tabs>li>a:hover {
  background:transparent;
}
.nav-tabs>.active>a, .nav-tabs>.active>a:hover, .nav-tabs>.active>a:focus {
  border:0;
  background:transparent;
  color:#fff;
}
.nav-tabs .open .dropdown-toggle {background:transparent;color:#00a6e7}

.videoTabs {
  margin:0 auto !important;
}
.videoTabs li {
  display:inline-block;
  float:none;
  font-weight:bold;
}
.videoTabs li ul li {
  display:block;
  padding:8px 20px !important;
}
#videos-tab > .dropdown-menu {
  display: inline;
  margin-left: -50%;
}
.su-lightbox {
  color: #fff;
}

.circle-menu-home {
  background: url(../img/circle-menu-home.png) no-repeat scroll 50% 50% transparent !important;
  width:97px;
  height:95px;
}
.circle-menu-videos {
  background: url(../img/circle-menu-videos.png) no-repeat scroll 50% 50% transparent !important;
  width:97px;
  height:95px;
}
.circle-menu-news {
  background: url(../img/circle-menu-news.png) no-repeat scroll 50% 50% transparent !important;
  width:127px;
  height:95px;
}
.circle-menu-twitter {
  background: url(../img/circle-menu-twitter.png) no-repeat scroll 50% 50% transparent !important;
  width:123px;
  height:95px;
}
.circle-menu-home:hover{
  background: url(../img/circle-menu-home-hover.png) no-repeat scroll 50% 50% transparent !important;
}
.circle-menu-videos:hover{
  background: url(../img/circle-menu-videos-hover.png) no-repeat scroll 50% 50% transparent !important;
}
.circle-menu-news:hover {
  background: url(../img/circle-menu-news-hover.png) no-repeat scroll 50% 50% transparent !important;
}
.circle-menu-twitter:hover {
  background: url(../img/circle-menu-twitter-hover.png) no-repeat scroll 50% 50% transparent !important;
}

.nav-tabs>.active>.circle-menu-home {
  background: url(../img/circle-menu-home-hover.png) no-repeat scroll 50% 50% transparent !important;
}
.nav-tabs>.active>.circle-menu-videos {
  background: url(../img/circle-menu-videos-hover.png) no-repeat scroll 50% 50% transparent !important;
}
.nav-tabs>.active>.circle-menu-news {
  background: url(../img/circle-menu-news-hover.png) no-repeat scroll 50% 50% transparent !important;
}
.nav-tabs>.active>.circle-menu-twitter {
  background: url(../img/circle-menu-twitter-hover.png) no-repeat scroll 50% 50% transparent !important;
}

.widget_twitter .widget-inner ul {
  margin:0 auto;
  width:90%;
}
.widget_twitter .widget-inner ul li {
  white-space:normal;
  margin-bottom:20px !important;
  width:100%;
}
.widget_twitter .widget-inner h2 {
  margin:20px 0;
}
.videoTabs .dropdown .dropdown-menu {
  display: none !important;
}
.videoTabs .open .dropdown-menu {
  display: block !important;
}

.videos-tab .dropdown-menu {
  margin:-30px 0 0 -78px;
  width:250px;
}
.videos-tab .dropdown-menu>li>a {
  text-align:center;
  padding:3px 10px;
}

.tp-caption a {
  color:#00a6e7;
}

#videocontent {
  position: absolute;
  opacity: 1;
  top: 85px;
  left: 80px;
  width: 550px;
  height: 550px;
  background-color: transparent;
  border-radius: 50%;
  overflow: hidden;
}
.videos-iframe iframe {
  width:1103px;
  height:710px;
  margin:-52px 0 0 -270px;
}

/* Responsive styles */

@media (max-width: 1280px){

}

@media (max-width: 1139px){

}

@media (max-width: 1000px){
  .join-button {display: none;}
}
@media (max-width: 959px){
  .navbar .btn-navbar, .navbar .btn-navbar:hover  {
    text-shadow:0 !important;
    background-color:transparent; !important;
    background-image:none !important;
    background-repeat:no-repeat; !important;
    border-color:none !important;
    -webkit-box-shadow:inset 0 0 0 !important;
    -moz-box-shadow:inset 0 0 0 !important;
    box-shadow:inset 0 0 0 !important;
    border-color:none 0 !important;
    margin-top: 8px;
  }
  .navbar .btn-navbar .icon-bar {
    width: 25px !important;
    height: 3px !important;
  }
}

@media (max-width: 767px){
  .home-arc-section {
    padding: 42px 20px;
    margin: 0 -20px;
  }
  .content-info {
    padding: 15px 20px;
    margin: 0 -20px;
  }
  .top-section {
    float: left;
    margin-bottom: 30px;
    border-bottom:1px solid #08233e;
    padding:0 0 20px 0;
    height: auto;
    min-height:100px;
  }
  .page-header-inner {
    margin: 0 -20px;
    padding: 65px 9px;
  }
  .main {
    padding: 25px 0 30px 0;
  }
}
@media (max-width: 720px){
  .bsac-page-logo {
    display: none;
  }
}

@media (max-width: 600px){
  .left-boxes {display: none;}
  .right-boxes {display: none;}
  [class*="span"] {float: left;}
  .lightbox-launch {display: none;}
  .lightbox-content {display: none;}
  .home-circle-movie {display: none;}
  .home-circle-divide {display: none;}
  #content-indicator {display: none;}
  .home-circle {
    background: none no-repeat scroll 0 0 rgba(255,255,255,0.7);
    width: 80%;
    height: auto;
    text-align: center;
    padding: 20px;
    position: relative;
    left: 0;
    top: 0;
    margin: 10px auto 0;
  }
  .home-circle-text h1 {
    font-size: 30px;
    line-height: 34px;
  }
  .home-circle-text h4 {
    font-size: 14px;
    line-height: 20px;
  }
  #rev_slider_1_1_wrapper {
    min-height: 430px !important;
  }
  .home-arc-section .span2 {
    display: none;
  }
  .home-arc-section .span3 {
    text-align: center;
  }
  .home-arc-section .span3 img {
    max-width: 70%;
    margin-top: 15px;
  }
  .dropdown-submenu .dropdown-menu {
    display:block;
  }
  .dropdown-menu > li {
    background-color: #00a6e7;
    margin-bottom: 12px;
  }
  .nav-collapse .dropdown-menu a {
    font-size:12px;
    padding:4px 8px;
    color: #fff;
  }
  .navbar .nav {
    margin: 16px 0 20px 0;
  }
  .dropdown-submenu .dropdown-menu>li>a {
    padding: 0;
  }
  .dropdown-submenu .dropdown-menu>li>a:hover {
    padding: 0;
  }
}

@media (max-width: 480px){
  .page-header-inner {
    margin: 0 -20px;
    padding: 55px 9px;
  }
  h1 {
    font-size:26px;
    line-height:32px;
  }
  h2 {
    font-size:21px;
    line-height:26px;
  }
  .blue-box {
    padding: 25px;
  }
}

@media (max-width: 320px){
  .page-header-inner {
    margin: 0 -20px;
    padding: 42px 9px;
  }
}

